/*===============================
=            BUTTONS            =
===============================*/

.button {
	background: $c-button-background;
	color: $c-button-text;
	border: 1px solid $c-main-text;
  border-radius: 5px;
  opacity: 0.85;
  -webkit-transition: opacity 0.4s; /* Safari */
  transition: opacity 0.4s;
    &:hover {
      opacity: 1;
      background: $c-button-hover;
    }
}
.login-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  padding: 3px 20px;
  font-weight: bold;
  transition: background 0.5s;
}

.register-button {
	font-weight: bold;
	padding: 3px 20px;
}

.leerstandsprofil-menu-back_button {
  border-radius: 3px;
  width: 15px;
  color: white;
  background-color: grey;
  border: 1px black solid;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
  margin: 3px 0;
}


/*=====  End of BUTTONS  ======*/
